* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: #000;
  min-height: 100vh;
}

.signup,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #141414;
  color: white;
}

.signup form,
.login form {
  display: flex;
  flex-direction: column;
}

.signup input,
.login input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.signup button,
.login button {
  padding: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup button:hover,
.login button:hover {
  background-color: #f40612;
}

.home-screen nav ul {
  list-style-type: none;
  padding: 0;
}

.home-screen nav ul li {
  display: inline;
  margin-right: 10px;
}

.home-screen nav ul li a {
  text-decoration: none;
  color: #fff;
  background-color: #e50914;
  padding: 10px 20px;
  border-radius: 5px;
}

.home-screen nav ul li a:hover {
  background-color: #f40612;
}
